<article data-find="main-content" class="content" id="article-content">
    <section data-find="main-content-heading" id="article-heading">

        <h2 data-find="main-content-title" id="article-heading-title">
            {{HEADING}}

        </h2>

        <h3 data-find="main-content-sub-heading" id="article-heading-sub-heading">
            {{SUB_HEADING}}
        </h3>

        <time data-find="article-date" datetime="{{DATE_TIME}}" id="article-heading-date">
            {{DISPLAY_DATE}}
        </time>

        <span id="article-heading-author" data-find="article-author">
            By <a rel="author" href="about.html">
                {{AUTHOR}}
            </a>
        </span>

    </section>

    <section data-find="main-content-body" id="article-body">
        {{CONTENT}}
    </section>
</article>
