<header data-find="banner" class="site-banner hide-in-iframe" id="article-header">
    <a href="about.html">      
    <h1 data-find="header-logo" id="banner-logo" alt="svg site logo">
        <!-- SEE CSS FOR LOGO IMAGE -->
    </h1>
    </a>
    <div data-find="header-theme-switcher" class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox">
        <div class="slider round"></div>
    </label>
    <em id="theme-switch-text">toggle theme</em>
    </div>
</header>
