<footer data-find="footer" class="site-footer" id="article-footer">
    <section id="footer-social-links">
        <a href="{{SOCIAL_URL_GITHUB}}">
            <div title="Github" id="social-github-logo"></div>
        </a>
        <a href="{{SOCIAL_URL_GITLAB}}">
            <div title="Gitlab" id="social-gitlab-logo"></div>
        </a>
        <a href="mailto:{{SOCIAL_URL_EMAIL}}">
            <div title="Email" id="social-email-logo"></div>
        </a>
        <a href="{{SOCIAL_URL_X}}">
            <div title="X" id="social-x-logo"></div>
        </a>
        <a href="{{SOCIAL_URL_BMC}}">
            <div title="Buy Me a Coffee" id="social-bmc-logo"></div>
        </a>
        <a href="{{SOCIAL_URL_PATREON}}">
            <div title="Patreon" id="social-patreon-logo"></div>
        </a>
    </section>
</footer>
