<footer data-find="footer" class="site-footer" id="article-footer">
    <section id="footer-social-links">
    <a href="https://github.com/gregoriB/minimalist_coding_blog_site_generator">
        <div title="Github" id="social-github-logo"></div>
    </a>
    <a href="#">
        <div title="Gitlab" id="social-gitlab-logo"></div>
    </a>
    <a href="#">
        <div title="X" id="social-x-logo"></div>
    </a>
    <a href="#">
        <div title="Buy Me a Coffee" id="social-bmc-logo"></div>
    </a>
    <a href="#">
        <div title="Patreon" id="social-patreon-logo"></div>
    </a>
    </section>
</footer>
