<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        {{SITE_TITLE}}
    </title>

    <link rel="stylesheet" href="styles/variables.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/main_content.css" />
    <link rel="stylesheet" href="styles/theme_toggle.css" />
    <link rel="stylesheet" href="styles/side_bar.css" />

    <link id="hljs-theme" rel="stylesheet" href="deps/highlight/styles/atom-one-dark.min.css">
    <script src="deps/highlight/highlight.min.js" defer></script>

    <link rel="stylesheet" href="deps/highlight_copy_button/styles/styles.css">
    <script src="deps/highlight_copy_button/highlight-copy.min.js" defer></script>

    <script src="scripts/index.js" defer></script>
    <script src="scripts/theme_toggle.js" defer></script>
  </head>
  <body></body>
</html>
