<nav class="side-bar hide-in-iframe" id="article-side-bar" data-find="side-bar">
    <h2>More Articles</h2>
    <section class="articles-by-date" data-find="side-bar-section">
        <h3 data-find="side-bar-section-date">
            {{ARTICLE_DATE}}
        </h3>
        <ul data-find="side-bar-section-list">
            <li data-find="side-bar-section-item">
                <a href="{{ARTICLE_LINK}}" data-find="side-bar-section-link">
                    {{ARTICLE_TITLE}}
                </a>
            </li>
        </ul>

    </section>
</nav>
