<a href="{{SOCIAL_URL_GITHUB}}" alt="github link">
    <div title="Github" class="social-github-logo"></div>
</a>
<a href="{{SOCIAL_URL_GITLAB}}" alt="gitlab link">
    <div title="Gitlab" class="social-gitlab-logo"></div>
</a>
<a href="mailto:{{SOCIAL_URL_EMAIL}}" alt="email link">
    <div title="Email" class="social-email-logo"></div>
</a>
<a href="{{SOCIAL_URL_X}}" alt="x link">
    <div title="X" class="social-x-logo"></div>
</a>
<a href="{{SOCIAL_URL_BMC}}" alt="buy me a coffee link">
    <div title="Buy Me a Coffee" class="social-bmc-logo"></div>
</a>
<a href="{{SOCIAL_URL_PATREON}}" alt="patreon link">
    <div title="Patreon" class="social-patreon-logo"></div>
</a>
