.content {
  background-color: rgb(var(--bg-color));
  width: 100%;
  height: 100%;
  padding: 1.5rem 2rem;
  margin-right: 2rem;
  margin-left: 4rem;
  max-width: 1000px;
}

#article-heading {
  width: 100%;
}

#article-heading-title {
  font-weight: 600;
  color: rgb(var(--font-color));
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem auto;
  text-wrap: balanced;
}

#article-heading-sub-heading {
  font-weight: 400;
  color: rgb(var(--font-color));
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem auto;
  width: 80%;
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
}

#article-heading-date {
  font-weight: 400;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  margin: 1rem auto;
  display: block;
  color: rgb(var(--heading-color));
}

#article-heading-author {
  display: inline-block;
  font-weight: 400;
  margin-left: 0;
  margin-top: 4rem;
}

#article-heading-author:has(a[href=""]) {
  display: none;
}

#article-heading-author a {
  margin-left: 0.2rem;
  text-decoration: none;
  color: rgb(var(--primary-color));
  font-weight: bold;
  letter-spacing: 0.06rem;
}

#article-body {
  font-weight: 400;
  padding-top: 2rem;
  text-align: left;
  font-size: 1.1rem;
}

#article-body p {
  letter-spacing: 0.03rem;
  line-height: 1.8rem;
  margin: 2.5rem auto;
  margin-bottom: 0;
}

#article-body a {
  text-decoration: none;
  color: rgb(var(--primary-color));
}

#article-body p:first-of-type {
  margin-top: 0;
}

#article-body pre:has(code) {
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-top: 4rem;
}

#article-body pre code {
  border-radius: 10px;
  padding: 1rem;
  padding-left: 1.6rem;
  font-size: 0.8rem;
  letter-spacing: 0rem;
  line-height: 1.2rem;
}

#article-body td.hljs-ln-numbers {
  padding-right: 1rem;
}

#article-body pre code.hide-ln-numbers td.hljs-ln-numbers {
  display: none;
}

@media (max-width: 800px) {
  .content {
    width: 85%;
  }

  #article-body {
    font-size: 1.5rem;
  }

  #article-body p {
    line-height: 2rem;
  }

  #article-body pre code {
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.4rem;
  }

  #article-body pre:has(code) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  #article-body td.hljs-ln-numbers {
    padding-right: 0;
    display: none;
  }
}

@media (max-width: 1400px) {
  .content {
    padding-right: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}
