.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(var(--bg-color));
  width: 100%;
  height: 100%;
  padding: 1.5rem 2rem;
  margin-right: 2rem;
  margin-left: 4rem;
}

#article-heading {
  width: 100%;
}

#article-heading-title {
  font-weight: 600;
  color: rgb(var(--heading-color));
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem auto;
  text-wrap: balanced;
}

#article-heading-sub-heading {
  font-weight: 400;
  color: rgb(var(--heading-color));
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem auto;
  width: 80%;
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
}

#article-heading-date {
  font-weight: 300;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  margin: 1rem auto;
  display: block;
}

#article-heading-author {
  display: inline-block;
  font-weight: 400;
  margin-left: 4rem;
  margin-top: 4rem;
}

#article-heading-author a {
  margin-left: 0.2rem;
  text-decoration: none;
  color: rgb(var(--primary-color));
  font-weight: bold;
  letter-spacing: 0.06rem;
}

@media (max-width: 700px) {
  #article-heading-author {
    margin-left: 0;
  }

  #article-heading-author a {
    margin-left: 0;
  }
}

#article-body {
  font-weight: 400;
  padding: 4rem;
  padding-top: 2rem;
  text-align: left;
}

#article-body p {
  letter-spacing: 0.03rem;
  line-height: 1.8rem;
  margin: 2.5rem auto;
  margin-bottom: 0;
  font-size: 1.1rem;
}

#article-body p:first-of-type {
  margin-top: 0;
}

#article-body pre:has(code) {
  margin-left: 1rem;
  margin-top: 4rem;
  width: 90%;
}

#article-body pre code {
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1.6rem;
  padding-right: 1rem;
  font-size: 0.8rem;
  letter-spacing: 0rem;
  line-height: 1.2rem;
}

@media (max-width: 800px) {
  #article-heading-author {
    margin-left: 0;
  }

  #article-heading-author a {
    margin-left: 0;
  }
}

@media (max-width: 1400px) {
  .content {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
