@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/RobotoSlab-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --primary-color: 154, 151, 243;
  --secondary-color: 129, 140, 171;
  --font-color: 225, 225, 255;
  --bg-color: 22, 22, 37;
  --heading-color: 129, 140, 171;

  --logo-image: url("../assets/images/logo_light.svg");

  --logo-social-github: url("../assets/images/social/github_logo_light.svg");
  --logo-social-gitlab: url("../assets/images/social/gitlab_logo.svg");
  --logo-social-x: url("../assets/images/social/x_logo_light.svg");
  --logo-social-patreon: url("../assets/images/social/patreon_logo_light.svg");
  --logo-social-bmc: url("../assets/images/social/buy_me_a_coffee_logo_light.svg");
  --logo-social-email: url("../assets/images/social/email_logo_light.svg");

  --logo-social-bmc-text: url("../assets/images/social/buy_me_a_coffee_logo_text_light.svg");

  --mobile-width: 800px;
}

[data-theme="light"] {
  --primary-color: 48, 42, 230;
  --secondary-color: 83, 99, 144;
  --font-color: 66, 66, 66;
  --bg-color: 255, 255, 255;
  --heading-color: 62, 62, 56;

  --logo-image: url("../assets/images/logo_dark.svg");

  --logo-social-github: url("../assets/images/social/github_logo_dark.svg");
  --logo-social-gitlab: url("../assets/images/social/gitlab_logo.svg");
  --logo-social-x: url("../assets/images/social/x_logo_dark.svg");
  --logo-social-patreon: url("../assets/images/social/patreon_logo_dark.svg");
  --logo-social-bmc: url("../assets/images/social/buy_me_a_coffee_logo_dark.svg");
  --logo-social-email: url("../assets/images/social/email_logo_dark.svg");

  --logo-social-bmc-text: url("../assets/images/social/buy_me_a_coffee_logo_text_dark.svg");
}
